<!doctype html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webpack {{htmlWebpackPlugin.options.title}}</title>

<!--    <link rel="stylesheet" href="normalize.css" type="text/css">-->
    <link rel="stylesheet" href="index.css" type="text/css">
</head>
<body>
<!--    <script src="./index.js"></script>-->
</body>
</html>